<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formats.letter">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Letter">
        <activity android:name="com.formats.letter.informalemail1"></activity>
        <activity android:name="com.formats.letter.formalemail1" />
        <activity android:name="com.formats.letter.informalletter1" />
        <activity android:name="com.formats.letter.formalletter1" />
        <activity android:name="com.formats.letter.informalemail" />
        <activity android:name="com.formats.letter.formalemail" />
        <activity android:name="com.formats.letter.informalleter" />
        <activity android:name="com.formats.letter.fromalletter" />
        <activity android:name="com.formats.letter.emailtype" />
        <activity android:name="com.formats.letter.lettertype" />
        <activity android:name="com.formats.letter.MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9511260428304528~2541441541" />

        <activity android:name="com.formats.letter.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>